
/* 
body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
}

div{
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
}

@media screen and (min-width: 780px)  {
    

    div {
        width: 45vw;
      }
      
      /* Limit images to 30% of viewport height */
      /*
      img {
        max-height: 30vh;
      }

}



  /* Override div width for large screens */
  /*
  @media (min-width: 999px) {

    div {
        width: 45vw;
      }
    div {
      width: 30vw;
    }
  }
  
*/





body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
}

div{
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
}


/* Media query for min-width of 772px      */
@media (min-width: 772px) {
    div {

    display: inline-block;
      width: 45vw;
    }
   
    img{max-height:30vh}
    
  }


  /* Media query for min-width of 998px */
@media (min-width: 998px) {
    div {
        display: inline-block;
      width: 30vw;
    }
  }
  
